.page-about {
  .page__item.hero_block {
    min-height: inherit;
  }
}

.value_name {
  font-size: calc(14px + (30 - 14) * ((100vw - 375px) / (1920 - 375)));
}

.page__item.values, .aboutme {
  margin-bottom: 90px;
}

.values_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 12rem;
    &__item {
      position: relative;
      width: 100%;
      margin-right: 0;
      padding-top: 32px;
      display: flex;
      align-items: flex-start;
      cursor: pointer;
      margin-bottom: 60px;
      &:last-child {
        margin-bottom: 0;
      }

      &_text {
        margin-top: 30px;
      }

      .value_name {
        margin-bottom: 32px;
        font-family: $font-family_deco_medium;
        font-size: calc(32px + (36 - 32) * ((100vw - 1199px) / (1920 - 1199)));
        line-height: calc(32px + (36 - 32) * ((100vw - 1199px) / (1920 - 1199)));
        padding-left: 20px;
      }
      .value_text {
        font-size: calc(20px + (24 - 20) * ((100vw - 1199px) / (1920 - 1199)));
        line-height: calc(26px + (32 - 26) * ((100vw - 1199px) / (1920 - 1199)));
        max-width: 90%;
        padding-left: 20px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: normal;
      }
        &_point {
          margin-bottom: 24px;
            svg {
              path {
                fill: #fff;
              }
            }
        }
      .hidden_surprize {
        position: absolute;
        top: -15%;
        right: -2%;
        visibility: hidden;
        opacity: 0;
        transform: scale(0.1);
        transition: all 0.2s;
        z-index: 2;
        img {
          max-width: 200px;
          max-height: 200px;
        }
      }
      &:hover {
        svg {
          path {
            fill: $color-toad;
          }
        }
        .hidden_surprize {
          visibility: visible;
          opacity: 1;
          transform: scale(1.1);
          transition: all 0.2s;
        }
      }
    }
}

.office_container {
    .first_p {
      padding: 0;
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
        .oc_inner {
          width: 55%;
          display: flex;
          align-items: center;
          margin-bottom: 60px;
        }
        p {
          max-width: 100%;
        }
      .office_container__img {
        margin-right: 32px;
        position: relative;
        min-width: 180px;
        width: 180px;
        height: 180px;
        z-index: 1;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &_p {
      padding: 0 6%;
      margin-bottom: 32px;
      max-width: 100%;
      font-size: calc(20px + (24 - 20) * ((100vw - 1199px) / (1920 - 1199)));
      line-height: calc(26px + (32 - 26) * ((100vw - 1199px) / (1920 - 1199)));
      position: relative;
      z-index: 3;
        p {
          opacity: 0.7;
          z-index: 3;
          max-width: 800px;
        }
    }
    .bolded {
      font-family: $font-family_medium;
      font-size: calc(24px + (32 - 24) * ((100vw - 1199px) / (1920 - 1199)));
      line-height: calc(32px + (36 - 28) * ((100vw - 1199px) / (1920 - 1199)));
      opacity: 1;
    }
  .img_big {
    position: absolute;
    opacity: 1;
    right: 4%;
    bottom: 0;
    width: 250px;
    height: 250px;
    z-index: 0;
  }
  .last_p {
    .btn {
      width: fit-content;
    }
    .ps {
      margin-bottom: 20px;
      opacity: 1;
      font-family: $font-family_italic;
    }
  }
}

@media (min-width: 1600px) {


  .office_block, .office_container .first_p {
    padding: 0 16rem;
  }
  .office_container .first_p {
    align-items: flex-start;
  }
  .office_container .first_p .oc_inner {
    width: 100%;
      p {
        max-width: 600px;
      }
  }
  .office_container_p p {
    max-width: 900px;
  }
  .office_container .img_big {
    width: 400px;
    height: 400px;
    right: -10%;
  }

  .office_container .first_p .office_container__img {
    width: 400px;
    min-width: 400px;
    height: 400px;
  }
}

.q_office {
  .btn {
    width: fit-content;
  }
}

.question {
  font-size: calc(24px + (32 - 24) * ((100vw - 1199px) / (1920 - 1199)));
  line-height: calc(32px + (36 - 28) * ((100vw - 1199px) / (1920 - 1199)));
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .office_container .first_p .oc_inner {
    width: 100%;
  }
  .office_container_p {
    padding: 0;
  }
  .office_container .img_big {
    position: static;
  }
}

@media (max-width: 640px) {
  .office_container .first_p .oc_inner {
    align-items: flex-start;
    margin-bottom: 0;
    flex-direction: column-reverse;
    p {
      margin-bottom: 20px;
    }
  }
  .office_container .first_p .office_container__img {
    margin-right: 0;
    width: 250px;
    height: 250px;
  }
  .office_container .img_big {
    margin-bottom: 20px;
  }
}

.seo_text {
  margin-top: 80px;
  margin-bottom: 40px !important;
  .team_body__inner_text_p {
    max-width: 980px;
  }
  &__frame {
    &:last-child {
      .team_body__inner_text_p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 1899px) {
  .seo_text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
      &__frame {
        width: 45%;
        margin-right: 60px;
      }
  }
}