.btn {
  position: relative;
  vertical-align: top;
  height: 40px;
  padding: 6px 20px;
  border-radius: 50px;
  font-size: calc(14px + (18 - 14) * ((100vw - 1280px) / (1920 - 1280)));
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-family: $font-family_deco;
  font-weight: normal;
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: center;
  color: #fff;
  box-shadow: 3px 5px 1px $color-toad;
  border: 1px solid #fff;

  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  transition: all 0.2s;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: none;
    transition: all 0.2s;
  }
  
  &:hover,
  &:focus {
    box-shadow: 3px 8px 1px #fff;
  }
  
  &:active {
    box-shadow: 3px 5px 1px #fff;
  }
}

.theme-button {
  background-color: #363636;
  z-index: 3;
  align-items: flex-start;
  padding-top: 10px;
  position: fixed;
  width: 160px;
  top: 35%;
  right: -70px;
  height: 60px;
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);
  transition: all 0.2s;
  cursor: pointer;
    p {
      text-align: center;
      font-family: $font-family_deco;
      font-size: 14px;
      color: #fff;
      letter-spacing: 1px;
    }
    &:hover {
      right: -60px;
      transition: all 0.2s;
    }
}
.main_links {
  .btn_gif {
    position: relative;
    .hidden_surprize {
      position: absolute;
      z-index: 2;
      top: 44%;
      left: 35%;
      visibility: hidden;
      transition: all .2s;
      transform: scale(.1);
      opacity: 0;
      img {
        width: 160px !important;
        height: 160px !important;
      }
    }
    &:hover {
      .hidden_surprize {
        visibility: visible;
        transition: all .2s;
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
