//стили чекбокса (label>input+span)

.form__checkbox {

  font-size: 12px;
  position: relative;
  display: inline-block;
  margin-bottom: 12px;
  padding: 5px 14px;
  vertical-align: top;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}

.form__checkbox_hidden {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  margin: 0;
}

.form__checkbox_indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: block;
  pointer-events: none;
  background:transparent;

  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.form__checkbox_text {
  font-family: $font-family;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  position: relative;
  z-index: 1;
  pointer-events: none;

  font-size: calc(13px + (18 - 13) * ((100vw - 375px) / (1920 - 375)));
  transition: all 0.2s;

}

//стили отмеченного чекбокса
.form__checkbox > input:checked ~ .form__checkbox_indicator {
  background: transparent;
  border-color: $color-fat-toad;
}

.form__checkbox > input:checked ~ .form__checkbox_text {
  color: $color-fat-toad;
}

//стили неотмеченного чекбокса
.form__checkbox > input:not(checked) ~ .form__checkbox_indicator {


}

//стиль при получении фокуса
.form__checkbox > input:focus ~ .form__checkbox_indicator {
  color: $color-toad;


}

//стили отключенного чекбокса
.form__checkbox > input:disabled ~ .form__checkbox_indicator {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: default;

}

.form__checkbox > input:disabled ~ .form__checkbox_text {
  color: rgba(255, 255, 255, 0.3);
  cursor: default;
}