.light_theme {
  display: block;
}

.dark_img {
  display: none;
}

.change_theme {

  .hero.desktop .hero_services {
    opacity: 0.5;
    font-family: $font-family_light;
  }

  .hero.desktop .main_text__inner p {
    opacity: 0.8;
    font-family: $font-family_light;
  }

  .dark_img {
    display: block;
  }

  .light_theme {
    display: none;
  }
  transition: all 0.3s;
  color: #fff;
    .page-container {
      background-color: #1E1E1E;
      background-image: url('../img/noise.png');
      background-blend-mode: overlay;
    }
  .btn {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    box-shadow: 3px 5px 2px $color-toad;
  }
  h2 {
    color: #fff;
  }
  .divider {
    background-color: transparent;
  }
  .theme-button {
    background-color: #fff;
      p {
        color: #363636;
      }
  }

  //header

  .header {
    &__inner {
      .menu {
        .logo {
          svg {
            path {
              fill: #fff;
                &:last-child {
                  fill: $color-toad;
                }
            }
          }
        }
      }
      .menu_horizontal {
        .list li {
          &::after {
            background-color: $color-toad;
          }
          .link_menu {
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
      .contact {
        .link_bold {
          color: $color-toad;
            &:hover {
              opacity: 0.7;
            }
        }
      }
    }
  }

  //hero


  //adv block

  .adv_block {
    &__item {
      &_img {
        svg {
          path {
            fill: #fafafa;
          }
        }
      }
    }
  }

  //cases

  .cases_block {
    &__item {
      border-color: rgba(255, 255, 255, 0.11);

      &:hover {
        border-color: transparent;

        &::after {
          background-color: $color-toad;
        }
      }

      .left {
        .case_name {
          &__title, &__date {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }

  //values

  .values_container {
    &__item {
      border-color: rgba(255, 255, 255, 0.11);
      &_text {
          .value_text {
            color: rgba(255, 255, 255, 0.7);
          }
      }
    }
  }

  //form

  .form__checkbox_indicator {
    border-color: rgba(255, 255, 255, 0.7);
  }
  .form__checkbox_text {
    color: rgba(255, 255, 255, 0.7);
  }

  .form__item, .form__textarea {
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.3);

    &::-webkit-input-placeholder {  color: rgba(255, 255, 255, 0.4); transition: color .3s;}
    &::-moz-placeholder          {  color: rgba(255, 255, 255, 0.4); transition: color .3s;}

    &:focus::-webkit-input-placeholder {color: transparent; transition: color .3s;}
    &:focus::-moz-placeholder          {color: transparent; transition: color .3s;}
  }

  .form__checkbox > input:checked ~ .form__checkbox_indicator {
    border-color: $color-toad;
    background: transparent;
  }

  .form__checkbox > input:checked ~ .form__checkbox_text {
    color: $color-toad;
  }

  .link_violet {
    color: $color-toad;
  }

  //footer

  //services page

  .serv_block {
    .cases_block {
      &__item {
        border-color: rgba(255, 255, 255, 0.3);
        .left .case_info {
          .case_name {
            color: #fff;
          }
          .case_text {
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
  }

  .form_left a {
    color: $color-toad;
  }

}