//cases

  .cases_block {
    &__item {
      border-color: rgba(255, 255, 255, 0.11);

      &:hover {
        border-color: transparent;

        &::after {
          background-color: $color-toad;
        }
      }

      .left {
        .case_name {
          &__title, &__date {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }

  //values

  .values_container {
    &__item {
      border-color: rgba(255, 255, 255, 0.11);
      &_text {
          .value_text {
            color: rgba(255, 255, 255, 0.7);
          }
      }
    }
  }


  .serv_block {
    .cases_block {
      &__item {
        border-color: rgba(255, 255, 255, 0.3);
        .left .case_info {
          .case_name {
            color: #fff;
          }
          .case_text {
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
  }

  .form_left a {
    color: $color-toad;
  }
