.footer {
  background-color: #1E1E1E;
  background-image: url('../img/noise.png');
  background-blend-mode: overlay;
  width: 100%;
  padding: 0 3rem;
  border: 0;
}

.footer__inner {
  width: 100%;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  background-image: url('../img/line.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size:contain;
  background-size: contain;
  flex-direction: row-reverse;
  padding: 1%;

    .left {
        img {
          max-width: 160px;
        }
        .list {
          list-style-type: none;
          padding: 0;
          margin: 0;
            li {
              margin-bottom: 20px;
                a {
                  font-size: 40px;
                  color: #fff;
                  text-decoration: none;
                    &:hover {
                      color: $color-toad;
                    }
                }
            }
        }
    }
    .right {
      .social {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
          a.link {
            margin-right: 20px;
            color: #fff;
              &:hover {
                color: $color-toad;
              }
              &:last-child {
                margin-right: 0;
              }
          }
      }
      .cr {
        margin-top: 32px;
        font-size: 17px;
        line-height: 20px;
        text-align: left;

        color: #FFFFFF;
        font-family: $font-family_light;
        opacity: 0.7;
      }
    }
  .link_contact {
    span {
      padding: 0 6px;
    }
  }
}