.burger {
  display: none;
}

.hamburger {
  position: relative;
  z-index: 8; /* more then menu-mobile */
  width: 28px;
  height: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.hamburger__item {
  display: block;
  width: 28px;
  height: 2px;
  background: #fff;
  transition: all 0.25s ease-out;
  border-radius: 3px;
}

.hamburger span {
  @extend .hamburger__item;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: transparent;

  &:before,
  &:after {
    @extend .hamburger__item;
    display: block;
    content: '';
    position: absolute;
  }

  &:before {
    top: -3px;
  }

  &:after {
    top: 4px;
  }
}

.hamburger_active {

  & span {
    background: transparent;


    &:after {
      transform: rotate(45deg);
      background: #fff;
      top: 0;
    }
    &:before {
      transform: rotate(-45deg);
      top: 0;
      background: #fff;
    }
  }
}

.burger {
  z-index: 999;
}