.header {
  background-color: transparent;
  margin-bottom: 20px;
  padding: 0 0 12px 0;
}

.header__inner {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  .right_menu {
    display: flex;
    justify-content: flex-end;
    width: inherit;
  }
    .menu {
      position: relative;
      margin-top: 1%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-image: url('../img/line.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      -webkit-background-size:contain;
      background-size: contain;
      padding: 1%;
        .logo {
          width: 45%;
          max-width: 420px;
          margin-right: 50px;
            svg {
              width: 200px;
              display: block;
                path {
                  fill: #fff;
                  &:last-child {
                    fill: $color-toad;
                  }
                }
            }
        }
        .contact {

        }
        .menu_horizontal {
          width: fit-content;
          .list {
            display: flex;
            justify-content: space-between;
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: transparent;
              li {
                position: relative;
                margin: 0 20px;
                  &:first-child {
                    margin-left: 0;
                  }
                .link_menu {
                  font-family: $font-family;
                  color: rgba(255, 255, 255, 0.7);
                    span {
                      padding: 0 6px;
                    }
                }

                &:hover {
                  color: #363636;
                  &:after {
                    height: 6px;
                    transition: height 0.3s ease-in-out;
                  }
                }
              }
          }
        }
        .link_bold {
          font-size: calc(13px + (20 - 13) * ((100vw - 375px) / (1920 - 375)));
          line-height: calc(13px + (20 - 13) * ((100vw - 375px) / (1920 - 375)));
            &:hover {
              color: $color-fat-toad;
            }
        }
    }
}