.jobs__container {
  width: 100%;
  margin-bottom: 40px;
    &_item {
      width: 100%;
      padding: 20px 0;
      border-bottom: 1px solid rgba(255, 255, 255, .3);
      .title_job {
        margin-bottom: 40px;
        &__name {
          font-family: $font-family_unbounded;
          font-size: calc(30px + (36 - 30) * ((100vw - 1199px) / (1920 - 1199)));
          line-height: calc(34px + (39 - 34) * ((100vw - 1199px) / (1920 - 1199)));
          font-weight: 300;
          color: $color-white;
          text-decoration: none;
          outline: none;
            &:hover {
              color: $color-toad;
            }
        }
      }
    }
  &:first-child {
    border-top: 1px solid rgba(255, 255, 255, .3);
  }
}

.job_p {
  span.point {
    background: #fff;
    border-radius: 100px;
    bottom: 3px;
    content: "";
    display: inline-block;
    height: 4px;
    margin: 0 10px;
    position: relative;
    width: 4px;
  }
}

.btn_jobs {
  width: fit-content;
}

.job_descr {
  width: 100%;
  margin-bottom: 32px;
  p {
    margin-bottom: 16px;
    max-width: 980px;
    font-size: calc(16px + (20 - 16) * ((100vw - 1199px) / (1920 - 1199)));
  }
}

.jd_text {
  opacity: 0.6;
}

.list_job {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: 16px;
  margin-bottom: 20px;
  li {
    position: relative;
    margin-bottom: 8px;
    &:before {
      width: 8px;
      height: 1px;
      background-color: $color-white;
      content: '';
      margin: 0 16px 0 0;
      position: absolute;
      left: -16px;
      top: 50%;
    }
  }
}

.bold {
  font-family: $font-family_medium;
}

.goals {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 980px;
  &_item {
    padding: 4px 16px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    margin-right: 12px !important;
    margin-bottom: 12px !important;
    width: fit-content;
  }
}

.light_theme {
  .jobs__container_item {
    border-color: rgba(54, 54, 54, .5);
      &:first-child {
        border-top: 1px solid rgba(54, 54, 54, .5);
      }
  }
  .job_p span.point {
    background-color: $color-black;
  }
  .jobs__container_item .title_job__name {
    color: $color-black;
    &:hover {
      color: $color-fat-toad;
    }
  }
  .list_job li:before {
    background-color: $color-black;
  }

  .goals_item {
    border-color: $color-black
  }
}