.link {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  transition: color, .2s;
  color: rgba(255, 255, 255, 0.96);

  &:hover {
    color: $color-toad;
  }

  &:focus,
  &:active {
    outline: 0;
    text-decoration: none;
  }
}

.link_bold {
  font-size: 16px;
  line-height: 26px;
  font-family: $font-family_deco_medium;
}


.link_violet {
  color: $color-toad;
  text-decoration: none;
}

.link_contact {
  color: $color-toad;
    span {
      padding: 0 6px;
    }
}