.hero_block {
  width: 100%;
  margin-bottom: 6%;
  min-height: 50vh;
  position: relative;
    &__container {
      position: relative;
      width: 100%;
      display: flex;
        img {
          width: 100%;
          margin-bottom: 32px;
          position: relative;
          z-index: 1;
        }

        .hero_text {
          margin: 0 auto;
          font-size: 24px;
          line-height: 30px;
        }
    }
}

.section_header.form_header {
  h2 {
    width: 100%;
    max-width: 100%;
  }
}

.services {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
    .right {
      width: 50%;
        .links_block {
          width: 100%;
            .links_block__item {
              font-family: $font-family_lightitalic;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding: 0 20px;
              height: 80px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.2);
              letter-spacing: -0.01em;
              //text-transform: uppercase;
              font-size: calc(18px + (32 - 18) * ((100vw - 375px) / (1920 - 375)));

              &:first-child {
                  border-top: 1px solid rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

.links_block {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mini_h2 {
  font-size: calc(20px + (32 - 20) * ((100vw - 1200px) / (1920 - 1200)));
  font-family: $font-family_deco;
  font-weight: normal;
}

.cases_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 60px !important;
    h2 {
      width: auto;
      max-width: 75%;
    }
    .link {
      color: $color-toad;
      span {
        padding: 0 6px;
      }
    }
}

.cases_block {
  width: 100%;
    &__item {
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-direction: row;
      padding: 24px 0;
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid rgba(256, 256, 256, 0.80);
        &:first-child {
          border-top: 1px solid rgba(256, 256, 256, 0.80);
        }

        .left {
          width: 50%;
          margin-left: 0;
          margin-right: 40px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          max-width: 50%;
            .case_info {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
            }
            .case_tags {
              position: static;
              max-width: 100%;
            }

            .case_name {
              position: static;

                &__title {
                  font-size: calc(48px + (52 - 48) * ((100vw - 1200px) / (1920 - 1200)));
                  font-family: $font-family_unbounded;
                  font-weight: 300;
                  margin-bottom: 20px;
                  color: #fff;
                  text-decoration: none;
                }
                &__date {
                  color: #fff;
                    .bold_date {
                      font-family: $font-family_medium;
                    }
                    span.point {
                      background: #fff;
                      border-radius: 100px;
                      bottom: 3px;
                      content: "";
                      display: inline-block;
                      height: 4px;
                      margin: 0 10px;
                      position: relative;
                      width: 4px;
                    }
                }
            }
        }
        .right {
          max-width: 50%;
          width: 50%;
          margin-right: 0;
            img {
              width: 100%;
              transform: scale(1.1);
            }
        }
    }
}

.animation_box {
  pointer-events: none;
  position: absolute;
  top: -5%;
  right: 10%;
  width: 50%;
  height: auto;
  z-index: 1;
}

.section_header {
  margin-bottom: 60px;
}

.more_btn {
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_item {
  width: 100%;
  img {
    width: 100%;
  }
}

.adv_block {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
    &__item {
      width: 27%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-right: 32px;
        &:last-child {
          margin-right: 0;
        }
      &_img {
        margin-bottom: 32px;
        display: block;
        width: 100%;
        svg {
          display: block;
          path {
            fill: #fff;
          }
        }
      }
      &_p {
        max-width: 85%;
        font-family: $font-family;
        opacity: 0.8;
        font-size: calc(16px + (24 - 16) * ((100vw - 1199px) / (1920 - 1199)));

      }
      .hidden_surprize {
        position: absolute;
        top: -44%;
        left: -35%;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s;
        z-index: 2;
        transform: scale(0.1);
          img {
            width: 160px;
            height: 160px;
          }
      }
      &:hover {
        .hidden_surprize {
          visibility: visible;
          transform: scale(1.0);
          opacity: 1;
          transition: all 0.2s;

        }
      }

    }
}


.form {
  width: 100%;
  display: flex;
  align-items: flex-start;
    &_left {
      width: 30%;
      max-width: 420px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 60px;
        p {
          max-width: 80%;
        }
    }
    &_right {
      max-width: 70%;
      width: auto;
        .field_bar {
          margin-bottom: 40px;
            &__items {
              display: flex;
              flex-wrap: wrap;
              label {
                margin-right: 10px;
                margin-bottom: 10px;
              }
            }
          .question {
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -0.01em;
            margin-bottom: 20px;
          }
        }
        .input_bar {
          max-width: 800px;
        }
    }
}

.form__outter {
  h2 {
    width: 100%;
    max-width: 60%;
    margin-bottom: 60px;
  }
}

.hero_block__container.centered_ttl {
  padding: 0 !important;
  align-items: flex-end !important;
  justify-content: space-between !important;
  min-height: 24vh;
}
