.hero_block {
  width: 100%;
  margin-bottom: 6%;
  min-height: 50vh;
    &__container {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
        img {
          width: 100%;
          margin-bottom: 60px !important;
          position: relative;
          z-index: 1;
        }

        .hero_text {
          margin: 0 auto;
          font-size: 24px;
          line-height: 30px;
        }
    }
}

.section_header.form_header {
  h2 {
    width: 100%;
    max-width: 100%;
  }
}

.services {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
    .right {
      width: 50%;
        .links_block {
          width: 100%;
            .links_block__item {
              font-family: $font-family_lightitalic;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding: 0 20px;
              height: 80px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.2);
              letter-spacing: -0.01em;
              //text-transform: uppercase;
              font-size: calc(18px + (32 - 18) * ((100vw - 375px) / (1920 - 375)));

              &:first-child {
                  border-top: 1px solid rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

.links_block {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cases_block {
  width: 100%;
    &__item {
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 60px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      position: relative;

        .left {
          margin-left: 50px;
          display: flex;
          flex-direction: column;
          height: auto;
          justify-content: center;
          max-width: 50%;
            .case_name {
              font-size: 32px;
              line-height: 36px;
              letter-spacing: -0.01em;
              font-family: $font-family_deco_medium;
              margin-bottom: 20px;
              color: #363636;
              text-decoration: none;
            }
              .case_works {
                font-size: 20px;
                font-family: $font-family_deco_medium;
                margin-bottom: 12px;
                color: #363636;
                text-decoration: none;
              }
              .case_text {
                font-family: $font-family_light;
                font-size: calc(14px + (20 - 14) * ((100vw - 375px) / (1920 - 375)));
                letter-spacing: -0.01em;
                color: rgba(54, 54, 54, 0.6);
                margin-bottom: 40px;
                max-width: 80%;
                color: #363636;
                text-decoration: none;
              }
              .case_tags {
                color: #363636;
                text-decoration: none;
              }
              .arrow_box {
                position: absolute;
                width: fit-content;
                right: 0;
                bottom: 60px;
                opacity: 0;
              }
        }
        .right {
          max-width: 50%;
          width: 50%;
            img {
              width: 100%;
            }
        }
      &:hover {
        .arrow_box {
          opacity: 1;
        }
      }
    }
}

.animation_box {
  pointer-events: none;
  position: absolute;
  top: -5%;
  right: 10%;
  width: 50%;
  height: auto;
  z-index: 1;
}

.section_header {
  margin-bottom: 60px;
}

.more_btn {
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_item {
  width: 100%;
  img {
    width: 100%;
  }
}

.adv_block {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
    &__item {
      width: 27%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-right: 32px;
        &:last-child {
          margin-right: 0;
        }
      &_img {
        margin-bottom: 32px;
        display: block;
        width: 100%;
      }
      &_p {
        max-width: 90%;
        font-family: $font-family;
        opacity: 0.8;
        font-size: calc(14px + (24 - 14) * ((100vw - 375px) / (1920 - 375)));

      }
      .hidden_surprize {
        position: absolute;
        top: -44%;
        left: -35%;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s;
        z-index: 2;
        transform: scale(0.1);
          img {
            width: 160px;
            height: 160px;
          }
      }
      &:hover {
        .hidden_surprize {
          visibility: visible;
          transform: scale(1.0);
          opacity: 1;
          transition: all 0.2s;

        }
      }

    }
}

.partners_block {
  padding: 0 90px;
  &__text {
    margin-bottom: 60px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: calc(20px + (48 - 20) * ((100vw - 375px) / (1920 - 375)));

  }
  .adv_block {
    padding: 0;
      &__item {

        p {
          font-size: 32px;
          line-height: 37px;
          font-family: $font-family_bold;
          margin-bottom: 32px;
        }
      }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
}

.form {
  width: 100%;
  display: flex;
    &_left {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 50px;
        h2 {
          font-size: calc(30px + (36 - 30) * ((100vw - 1199px) / (1920 - 1199)));
          max-width: 100%;
        }
        a {
          font-size: 24px;
          line-height: 24px;
          text-decoration-line: underline;
          transition: all 0.2s;
            &:hover {
              text-decoration: none;
              transition: all 0.2s;
            }
        }
    }
    &_right {
      padding-top: 100px;
      width: auto;
        .field_bar {
          margin-bottom: 40px;
            &__items {
              display: flex;
              flex-wrap: wrap;
              label {
                margin-right: 10px;
                margin-bottom: 10px;
              }
            }
          .question {
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -0.01em;
            margin-bottom: 20px;
          }
        }
        .input_bar {
          max-width: 800px;
        }
    }
}

.form_header {
  margin-bottom: 60px;
}

.img_container {
  position: relative;
}