.news_block {
  justify-content: flex-start;
  .team_block__item {
    border: none;
    margin-bottom: 40px;
    margin-right: 0;
    padding: 24px;
      .news_block__img {
        width: 100%;
        height: 240px;
        margin-bottom: 20px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      }
      &_info {
          &_posted-by {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            .date {
              opacity: 0.5;
            }
            .authors {
              display: flex;
              &_item {
                border-radius: 50%;
                overflow: hidden;
                width: 40px;
                height: 40px;
                margin-right: -12px;
                img {
                  display: block;
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }

        p {
          font-size: calc(14px + (18 - 14) * ((100vw - 1200px) / (1920 - 1200)));
        }
      }
    &:hover {
      .date {
        color: rgba(255, 255, 255, .96);
      }
    }
  }

  .team_block__item:nth-child(3n+3) {
    margin-right: 0;
  }
}