/* Global Button Styles */
li.animated-button {
  position: relative;
  display: block;
  color: #363636;
  overflow: hidden;
  border-radius: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  margin: 0;
}
li.animated-button:after {
  content: "";
  position: absolute;
  height: 0;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
li.animated-button:hover {
  color: #FFF;
  text-shadow: none;

}
li.animated-button:hover:after {
  height: 450%;
}
li.animated-button {
  position: relative;
  display: block;
  margin: 0;
  color: #363636;
  border-radius: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}


li.animated-button.thar-three {
  color: #363636;
  cursor: pointer;
  display: block;
  position: relative;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1)  0s;

  span {
    position: relative;
    z-index: 1;
  }
}
li.animated-button.thar-three:hover {
  color: #fff !important;
  background-color: transparent;
  transition-delay: 0.2s;
}
li.animated-button.thar-three:hover:before {
  left: 0;
  right: auto;
  transition-delay: 0.2s;
  width: 100%;
}
li.animated-button.thar-three:before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 0;
  content: '';
  color: #fff !important;
  background: $color-toad;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes animate_pulse {
  0% {
    transform: scale(1.0);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

.page-subpage {
  .hero_block {
    height: auto;
    min-height: inherit;
  }
}

//aboutme

.aboutme {
  margin-top: 40px;
  .section_body {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 11%;
      .left {
        padding-left: 10%;
        .big_bold {
          font-size: calc(24px + (36 - 24) * ((100vw - 375px) / (1920 - 375)));
          line-height: 28px;
          font-family: $font-family_deco_medium;
          margin-bottom: 32px;
        }
        .big_norm {
          font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1920 - 375)));
          line-height: calc(22px + (32 - 22) * ((100vw - 375px) / (1920 - 375)));
          margin-bottom: 16px;
          opacity: 0.7;
        }
        .btn {
          margin-top: 40px;
          width: fit-content;
        }
      }
      .right {
        position: relative;
          img {
            display: block;
            position: relative;
            top: -160px;
          }
      }
  }
}

//preloader

.preloader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #1E1E1E;
  background-image: url('../img/noise.png');
  background-blend-mode: overlay;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.active_load {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.load_line {
  width: 100%;
  &__inner {
    width: 0;
    height: 4px;
    background-color: $color-toad;
  }
}

.gb_animate, .gs_animate {
  opacity: 0;
}

.image {
  img {
    width: 100%;
  }
}

.aboutsign {
  .section_body {
    align-items: flex-start;
    justify-content: flex-start;
      .left {
        width: 70%;
      }
  }
}

.stoppedpl {
  overflow: hidden;
}

// about

.text-quote {
  margin-top: 40px;
  width: 100%;
  text-align: right;
  font-size: calc(22px + (36 - 22) * ((100vw - 375px) / (1920 - 375)));
  line-height: calc(24px + (36 - 24) * ((100vw - 375px) / (1920 - 375)));
}

//contacts

.contacts_box {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
    &__item {
      margin-right: 40px;
        a {
          font-size: calc(22px + (36 - 22) * ((100vw - 375px) / (1920 - 375)));
        }
    }
}

// case page

.case_page {
  .hero_case {
    display: flex;
    align-items: baseline;
    width: 100%;
    .back {
      margin-right: 50px;
      width: 45%;
      max-width: 420px;
      overflow: hidden;
        a {
          overflow: hidden;
          img {
            transform: translateX(0);
            transition: all 0.3s;
            opacity: 1;
          }
            &:hover {
              img {
                animation: 0.9s runAwayandTurn;
              }
            }
        }
    }
    .hero_block__container {
      width: fit-content;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
        .case_title {
          font-family: $font-family_deco;
          font-weight: normal;
          letter-spacing: 1px;
          font-size: calc(32px + (54 - 32) * ((100vw - 375px) / (1920 - 375)));
          text-align: left;
          margin-bottom: 20px;
          text-transform: inherit;
        }
        .case_description {
          font-size: calc(13px + (18 - 13) * ((100vw - 375px) / (1920 - 375)));
          line-height: calc(18px + (24 - 18) * ((100vw - 375px) / (1920 - 375)));
          max-width: 600px;
          letter-spacing: 0.3px;
          margin-bottom: 24px;
          opacity: 0.7;
        }
        .case_tags {
          display: flex;
          &__item {
            margin-right: 8px;
          }
        }
    }
  }

  &__info {
    &_body {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
      width: 100%;
        &__left {
          width: 45%;
          max-width: 420px;
          margin-right: 50px;
            &_item {
              margin-bottom: 24px;
              p:first-child {
                font-size: calc(13px + (14 - 13) * ((100vw - 375px) / (1920 - 375)));
                line-height: calc(18px + (18 - 18) * ((100vw - 375px) / (1920 - 375)));
                opacity: 0.5;
                margin-bottom: 4px;
                font-family: $font-family_light;
              }
              p:last-child {
                font-size: calc(13px + (18 - 13) * ((100vw - 375px) / (1920 - 375)));
                line-height: calc(18px + (24 - 18) * ((100vw - 375px) / (1920 - 375)));
                font-family: $font-family;
              }
            }
        }
        &__right {
          width: fit-content;
          width: -moz-fit-content;
          min-width: 640px;
          max-width: 800px;
          &__about {
            margin-bottom: 56px;
            p {
              font-size: calc(13px + (18 - 13) * ((100vw - 375px) / (1920 - 375)));
              line-height: calc(18px + (24 - 18) * ((100vw - 375px) / (1920 - 375)));
              max-width: 720px;
              letter-spacing: 0.3px;
              margin-bottom: 16px;
              opacity: 0.7;
            }
          }
          &__team {
            h2 {
              text-transform: lowercase;
              color: $color-toad;
              margin-bottom: 24px;
              font-family: $font-family_deco;
              font-weight: normal;
              letter-spacing: 0.4px;
              font-size: calc(13px + (18 - 13) * ((100vw - 375px) / (1920 - 375)));
              line-height: calc(18px + (24 - 18) * ((100vw - 375px) / (1920 - 375)));
              span {
                padding: 0 6px;
              }
            }
            .team_box {
              display: flex;
              flex-wrap: wrap;
              &__item {
                margin-bottom: 32px;
                margin-right: 48px;
                display: flex;
                align-items: center;
                &_name {
                  p:first-child {
                    font-family: $font-family;
                    margin-bottom: 4px;
                    font-size: calc(13px + (18 - 13) * ((100vw - 375px) / (1920 - 375)));
                  }
                  p:last-child {
                    font-size: calc(13px + (14 - 13) * ((100vw - 375px) / (1920 - 375)));
                    opacity: 0.5;
                    margin-bottom: 0;
                    font-family: $font-family-light;
                  }
                }
              }
            }
          }
        }
    }
  }
}

.case_slider {
  width: 100%;
  &__slide {
    padding: 12px;
    opacity: 0.6;
  }
  .case_slider__slide.slick-active {
    animation: fadeInUp 1s both;
    opacity: 1;
  }
}

.gradient_box {
  position: fixed;
  top: 0;
  right: 3%;
  z-index: 0;
  transition: all 0.2s;
  filter: blur(30px);
}

.gradient {
  transition: all 0.2s linear;
  z-index: 0;
  animation-name: rotation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.noise {
  position: fixed;
  z-index: 1;
  opacity: 0.3;
  background-size: 20%;
  background-blend-mode: overlay;
  filter: brightness(0.5);
  width: 100%;
  height: 100%;
  background-image: url('../img/noise.png');
  content: '';
}

.sided_block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
    &__item {
      width: 60%;
      width: -moz-fit-content;
        h2 {
          line-height: normal;
          text-transform: uppercase;
          font-family: $font-family_deco;
          margin-bottom: 24px;
          font-size: calc(24px + (48 - 24) * ((100vw - 1199px) / (1920 - 1199)));
        }
        p {
          font-size: calc(13px + (20 - 13) * ((100vw - 375px) / (1920 - 375)));
          line-height: calc(18px + (26 - 18) * ((100vw - 375px) / (1920 - 375)));
          letter-spacing: 0.3px;
          margin-bottom: 16px;
          opacity: 0.6;
          min-width: 420px;
          max-width: 600px;
        }
    }
}

.hero_subpage_img {
  padding-left: 6%;
  max-width: 50%;
}

.hero_block__container.centered_ttl {
  padding: 0;
  justify-content: center;
    img {
      padding: 0;
      margin-bottom: 0 !important;
    }
}

.case_tags {
  position: absolute;
  max-width: 30%;
}